  
<div>
    <h1 class="myHeader">Cards, Cards, Cards</h1>
</div>

<body class='catalog-container'>
  <ng-template class="a" [ngIf]="!this.authService.isAuthenticated()">
    <div class="row">
      <div class="container-fluid">
    		<div class="col-md-12">
    			<ul class="nav nav-pills">
    				<li class="nav-item">
    					 <button class="btn nav-link active" routerLink="/home">Home </button>
    				</li>
    				<li class="nav-item">
    					 <button class="btn nav-link disabled">Messages </button>
    				</li>
    				<li class="nav-item">
    					 <button class="btn nav-link right disabled">Cart </button>
    				</li>
    					
    				<li class="nav-item dropdown ml-md-auto">
    					<button class="btn nav-link dropdown-toggle right" id="navbarDropdownMenuLink" data-toggle="dropdown">More </button>
    					<div class="dropdown-menu dropdown-menu right" aria-labelledby="navbarDropdownMenuLink">
    						<button class="btn dropdown-item" (click)='showAboutUs()'>About us </button>
    						<div class="dropdown-divider">
    						</div>  <button class="btn dropdown-item signout" (click)='loginRedirect()' >Login </button>
    					</div>
    				</li>
    					
    			</ul>
    			<h3 class="text-info">
    				Catalog
    			</h3>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-4">
    		  <app-items></app-items>
    		</div>
    		<div class="col-md-4">
    		  <div>
    		    <app-about></app-about>
    		  </div>
    		</div>
    	</div>
    </div>
  </ng-template>
    
  <ng-template class="b" [ngIf]="this.authService.isAuthenticated()">
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-12">
    			<ul class="nav nav-pills">
    			
    				<li class="nav-item">
    					 <button class="btn nav-link active"  routerLink="/home">Home </button>
    				</li>
    				<li class="nav-item">
    					 <button class="btn nav-link active">Messages </button>
    				</li>
    				<li class="nav-item">
    					<button class="btn nav-link right active" (click)="showCart()">Cart</button>
    				</li>
    				
    				<li class="nav-item dropdown ml-md-auto">
    					<button class="btn nav-link dropdown-toggle right"  id="navbarDropdownMenuLink" data-toggle="dropdown">More </button>
    					<div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    						<button class="btn dropdown-item" (click)="hideCart()">About us </button>
    						<div class="dropdown-divider">
    						</div>  
    						  <button class="btn dropdown-item signout" (click)="signOut()" >
    						    <span class="glyphicon glyphicon-log-out"></span> Sign out {{authService.currentUser.email}} 
    						  </button>
    					</div>
    				</li>
    			</ul>
    		
    			<h3 class="text-info">
    				Catalog
    			</h3>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-4">
    		  <app-items></app-items>
    		</div>
    		<div class="col-md-4">
    		  <div *ngIf="cartShown">
    		    <app-cart></app-cart>
    		  </div>
    		  <div *ngIf="!cartShown">
    		    <app-about></app-about>
    		  </div>
    		</div>
    	</div>
    </div>
  </ng-template>
</body>