  
<div>
    <h1 class="myHeader">Cards, Cards, Cards</h1>
</div>

<body class='catalog-container'>
  <ng-template class="a" [ngIf]="!this.authService.isAuthenticated()">
    <div class="row">
      <div class="container-fluid">
    		<div class="col-md-12">
    			<ul class="nav nav-pills">
    				<li class="nav-item">
    					 <button class="btn nav-link active">Home </button>
    				</li>
    				<li class="nav-item">
    					 <button class="btn nav-link disabled">Messages </button>
    				</li>
    				<li class="nav-item">
    					 <button class="btn nav-link right disabled">Cart </button>
    				</li>
    					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink"> More
    						  <button class="btn dropdown-item" (click)='showAboutUs()'>About us </button>
    						<div class="dropdown-divider">
    						</div>  <button class="btn dropdown-item " (click)='loginRedirect()' >Login </button>
    					</div>
    			</ul>
    			<h3 class="text-info">
    				Catalog
    			</h3>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-4">
    		</div>
    		<div class="col-md-4">
    		</div>
    		<div class="col-md-4">
    		</div>
    	</div>
    </div>
  </ng-template>
    
  <ng-template class="b" [ngIf]="this.authService.isAuthenticated()">
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-12">
    			<ul class="nav nav-pills">
    			
    				<li class="nav-item">
    					 <button class="btn nav-link active">Home </button>
    				</li>
    				<li class="nav-item">
    					 <button class="btn nav-link active">Messages </button>
    				</li>
    				<li class="nav-item">
    					<button class="btn nav-link right active">Cart</button>
    				</li>
    				
    				<li class="nav-item dropdown ml-md-auto">
    					<button class="btn nav-link dropdown-toggle right" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">More </button>
    					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
    						  <button class="btn dropdown-item" (click)='showAboutUs()'>About us </button>
    						<div class="dropdown-divider">
    						</div>  <button class="btn dropdown-item signout" (click)="signOut()" >Sign out {{username}} </button>
    					</div>
    				</li>
    			</ul>
    		
    			<h3 class="text-info">
    				Catalog
    			</h3>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-4">
    		</div>
    		<div class="col-md-4">
    		</div>
    		<div class="col-md-4">
    		</div>
    	</div>
    </div>
  </ng-template>
</body>