<div>
    <h1 class="myHeader">Cards, Cards, Cards</h1>
</div>

<body>
    <div class="form-container">
        <button type="submit" routerLink="/login" class="back-btn"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <h2>Sign Up</h2>
        <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
            <span>E-mail: </span><input type="text" placeholder="Email address..." (ngModel)="email" name="email" class="input-txt" required>
            <span>Password: </span><input type="password" placeholder="Password..." (ngModel)="password" class="input.txt" name ="password" required>
            <br>
            <button type="submit"  class="auth-btn">Create Account</button>
        </form>
    </div>
</body>   
