<div>
    <ul *ngIf="items">
        <li *ngFor="let item of items" class="itemInList">
            <img src="{{item.imageLink}}" alt="{{item.itemName}}">
            <h5>{{item.itemName}}</h5>
            <p>$ {{item.itemPrice}}</p>
            <p>{{item.itemQuantity}} In Stock</p>
            <p>Popularity: {{item.popularityIndex}}/10</p>
            <div class="form-group fifteen-size">
                  <select class="form-control" id="qtyList">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                  </select>
                </div>
            <span>
                <button type="button" class="btn btn-primary fifteen-size">Add</button>
            </span>
        </li>
    </ul>
</div>
