<div>
    <ul *ngIf="items" >
        <li *ngFor="let item of items" class="itemInList">
            
            <div hidden #theIdWeNeed >{{item._id}}</div>
            <div hidden #theStockWeNeed >{{item.itemQuantity}}</div>
            
            <div *ngIf="!this.authService.isManager()">
                <div *ngIf="checkStock(theStockWeNeed.innertHtml)">
                    <div (click)="showDetails(theIdWeNeed.innerHTML)">
                    <img src="{{item.imageLink}}" alt="{{item.itemName}}">
                        <h5>{{item.itemName}}</h5>
                        
                        <p>{{item.itemQuantity}} In Stock</p>
        
                        <div *ngIf="this.authService.currentUser">
                            <div class="form-group">
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                </select>
                            </div>
                            <span>
                                <button type="button" (click)="userCommented()" class="btn btn-primary half-size">Add</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div *ngIf="this.authService.isManager()">
                <div *ngIf="checkStock(theStockWeNeed.innertHtml)">
                    <div (click)="showDetails(theIdWeNeed.innerHTML)">
                        <img src="{{item.imageLink}}" alt="{{item.itemName}}">
                        <br>
                        <input #name type="text" value="{{item.itemName}}">
                        <br>
                        <br>
                        <p>Quantity in Stock:</p>
                        <input #quantity type="number" value="{{item.itemQuantity}}"> 
                        <br>
                        <br>
                        <p>Price ($CDN):</p>
                        <input #price type="number" value="{{item.itemPrice}}"> 
                        <br>
                        <br>
                        <span>
                            <button type="button" class="btn half-size" (click)="modifyItem(item._id,name.value,quantity.value,price.value)">Save Changes</button>
                            <br>
                            
                            <button type="button" class="btn btn-danger half-size" (click)="removeItem(item._id)">Delete</button>
                            <br>
                            
                        </span>
                        <br>
                        <div *ngIf="this.authService.currentUser">
                            <div class="form-group">
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                </select>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary half-size" (click)="this.queryService.addToCart(item.itemName)">Add</button>  
                    </div>
                </div>
            </div>
            
            <div *ngIf="detailedItemID==theIdWeNeed.innerHTML">
                <br>
                
                <div *ngIf="!this.authService.isManager()">
                    <p>$ {{item.itemPrice}}</p> 
                    <br>
                </div>

                <br>
                <span  *ngFor="let one of numberofstars" class="glyphicon glyphicon-star" style="text-align:center"></span>
                
                <div *ngIf="!this.authService.isManager()">
                    <div *ngFor="let rating of singleItemRatings; let i=index">
                            
                        <div *ngIf="!rating.hidden">
                            <hr>
                            <h4>{{rating.userEmail}} says...</h4>
                            <p>Rating {{rating.rate}}/5</p>
                            <div class="comment">
                                <p>{{rating.comment}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div *ngIf="this.authService.isManager()">
                    <div *ngFor="let rating of singleItemRatings; let i=index">
                            
                        <hr>
                        <p>Hidden comment? {{rating.hidden}}
                            <span>
                                <div *ngIf="rating.hidden">
                                    <button class="btn btn-success half-size" (click)="showComment(rating._id)">Show to Users</button>
                                </div>
                                
                                <div *ngIf="!rating.hidden">
                                    <button class="btn btn-warning half-size" (click)="hideComment(rating._id)">Hide from Users</button>
                                </div>
                            </span>
                        </p>
                        <h4>{{rating.userEmail}} says...</h4>
                        <p>Rating {{rating.rate}}/5</p>
                        <div class="comment">
                            <p>{{rating.comment}}</p>
                        </div>
                        
                    </div>
                </div>
                
                <div>
                    <br>
                    <hr>
                    <div *ngIf="!userCommented()&&this.authService.isAuthenticated()">
                        <h3>Post a comment:</h3>
                        <form #formData='ngForm' (ngSubmit)='onSubmit(formData,theIdWeNeed.innerHTML)'>
                            <input #rating id="ratingy" type="number" placeholder="Rating out of 5..." min="0" max="5" step="1" (ngModel)="rate" name="rate"  (change)="changeSelection(rating.value)" required>
                            <div>
                                <span  *ngFor="let one of selectionStars; let i=index">
                                    <span *ngIf="i<5" class="glyphicon glyphicon-star" style="text-align:center"></span>
                                </span>
                            </div>
                            
                            <br>
                            <br>
                            <input type="text" placeholder="Write Something..." (ngModel)="comment" name="comment" class="input-txt" required>
                            <button type="submit" [disabled]="!formData.valid" class="auth-btn"><span class="glyphicon glyphicon-check"></span> Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    
    <div *ngIf="this.authService.isManager()" style="text-align:center">
        <p>Item Name:</p>
        <input #NewName type="text" value="Enter a name..">
        <br>
        <br>
        <p>Quantity in Stock:</p>
        <input #NewQuantity type="number"> 
        <br>
        <br>
        <p>Price ($CDN):</p>
        <input #NewPrice type="number"> 
        <br>
        <br>
        <p>Link to image:</p>
        <input #NewImage type="text" value="Enter a link..."> 
        <br>
        <br>
        <span>
            <button type="button" class="btn half-size" (click)="addItem(NewName.value,NewQuantity.value, NewPrice.value,NewImage.value)">Add to Items</button>
            <br>
        </span>
    <div>
</div>
