ul {
  list-style-type: none;
}

.half-size{
    width: 25%;
}

.itemInList{
    background-color: #c1dcf4;
    border: 1px solid #062F4F;
    padding: 5px;
    text-align:center; 
    
}

.comment{
    outline: 1px solid black;
    background-color: #fffdad;
    padding: 4px;

}