  
<div>
    <h1 class="myHeader">Cards, Cards, Cards</h1>
    <div class="rightened"></div>
</div>

<body class='catalog-container'>
  <ng-template class="a" [ngIf]="!this.authService.isAuthenticated()">
    <div class="row">
      <div class="container-fluid">
    		<div class="col-md-12">
    			<ul class="nav nav-pills">
    				<li class="nav-item">
    					 <button class="btn nav-link active disabled">Profile </button>
    				</li>
    					
    				<li class="nav-item dropdown ml-md-auto">
    					<button class="btn nav-link dropdown-toggle right" id="navbarDropdownMenuLink" data-toggle="dropdown">More ... </button>
    					<div class="dropdown-menu dropdown-menu right" aria-labelledby="navbarDropdownMenuLink">
    						<button class="btn dropdown-item" (click)='showAboutUs()'>About us </button>
    						<div class="dropdown-divider">
    						</div>  <button class="btn dropdown-item signout" (click)='loginRedirect()' >Login </button>
    					</div>
    				</li>
    			</ul>
    		</div>
    	</div>
    </div>
    	
    <h1>HOME</h1>
    	
  	<div class="row">
  		<app-items></app-items>
  	</div>
  	<div class="row" style="text-align: center">
  		<app-about></app-about>
  	</div>
  
  </ng-template>
    
  <ng-template class="b" [ngIf]="this.authService.isAuthenticated()">
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-12">
    			<ul class="nav nav-pills">
    				<li class="nav-item">
    					 <button class="btn nav-link active "  routerLink="/profile">Profile </button>
    				</li>
    				<li class="nav-item dropdown ml-md-auto">
    					<button class="btn nav-link dropdown-toggle right"  id="navbarDropdownMenuLink" data-toggle="dropdown">More </button>
    					<div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    						<div class="dropdown-divider">
    						</div>  
    						  <button class="btn dropdown-item signout" (click)="signOut()" >
    						    <span class="glyphicon glyphicon-log-out"></span> Sign out {{authService.currentUser.email}} 
    						  </button>
    					</div>
    				</li>
    			
      			<div *ngIf="this.authService.isManager()" class='rightend'>
    					  <span class="glyphicon glyphicon-user"></span>
    				</div>
    		  </ul>
    		
    			<h1>
    				HOME
    			</h1>
    		</div>
    	</div>
      <div class="row">
    		<app-items></app-items>
    	</div>
    	<div class="row" style="text-align: center">
    		<app-about></app-about>
    	</div>
    </div>
  </ng-template>
</body>