body {
    background-image:url("./images/1080.jpg"); 
    background-repeat:no-repeat; 
    background-attachment: scroll; 
    background-size:cover;
    background-attachment: fixed;

    padding-top: 5em;
    font-family: 'Allerta Stencil';
}

input.ng-invalid.ng-dirty{
    border: 1px solid red;
}

button:hover,btn:hover{
    cursor: pointer;
}

button.ng-invalid.ng-dirty{
    
}

.form-container {
    background: white;
    padding: 2em;
    width: 500px;
    position: fixed;
    left: 50%;
    margin-left: -250px;
}

.catalog-container{
    background: white;
    padding: 1em;
    margin-left: 20px;
    margin-right: 20px;

}

.myHeader{
    padding-top: 0px;
    text-align:center;
}

button {
    padding: 0.5em;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 1.3em;
}

.google {
    border: 1px solid #95989A;
    background: #fff;
    background-size: 25px;
}

.email {
    background: #ECECEC;
    background-size: 25px;
}

.create-account-txt {
    text-align: center;
    display: block;
    margin: 15px 0;
    font-family: 'Allerta Stencil';
}

.auth-btn {
    background: #3B8598;
    color: white;
}

input.input-txt {
    background: #fff !important;
    padding: 0.5em 1em;
    font-size: 1.3em;
    border: 1px solid #BBBBBB;
    width: 90%;
    margin-bottom: 1em;
}