<div>
    <h1 class="myHeader">Cards, Cards, Cards</h1>
</div>

<div class="bgnd">
    <div>
       
        <h1>All Regular Users:
            <span class="rightend">
                <button class="btn nav-link"  routerLink="/profile">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                     Back
                </button>
            </span>
        </h1>
        <ul class="list-group userList">
            <li *ngFor="let user of users" class="group-item"> 
                
                <div class="itemInList" (click)="getUser(user.userEmail)">
                    <h4>{{user.userEmail}}
                        <span class="rightend"> 
                            
                            <div *ngIf="thisUser">
                                
                                    <button class="btn nav-link" *ngIf="!thisUser.disabled &&thisUser.email==user.userEmail" (click)="makeManager(user.userEmail)" >
                                     Make Manager
                                    </button>
                                    <br>
                                    
                                    <button *ngIf="thisUser.disabled &&thisUser.email==user.userEmail" class="btn btn-success" (click)="enableUser(user.userEmail)">
                                     Enable
                                    </button>
                                    
                                    <button *ngIf="!thisUser.disabled &&thisUser.email==user.userEmail" class="btn btn-danger" (click)="disableUser(user.userEmail)">
                                     Disable
                                    </button>
                                    
                            </div>
                            
                        </span>
                    </h4>
                </div>
                
            </li>
        </ul>
        
        <br>
        
        <h1>All Managers:</h1>
        <ul class="list-group managerList">
            <li *ngFor="let manager of managers" class="group-item itemInList"> 
                <h4>{{manager.userEmail}}</h4>
            </li>
        </ul>
    </div>
</div>