<div class="bgnd">
    <h1>
      Privacy Policy for Cards, Cards, Cards
    </h1>
    
    <p>At Cards, Cards, Cards, accessible from http://se3316-ttoshev-lab5-ttoshev.c9users.io:, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Cards, Cards, Cards and how we use it.</p>
    
    <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at toshotoshev02@gmail.com</p>
    
    <p>Log Files
    <p>Cards, Cards, Cards follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>
    
    <p>Privacy Policies</p>
    <p>You may consult this list to find the Privacy Policy for each of the advertising partners of Cards, Cards, Cards.</p>
    
    <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on Cards, Cards, Cards, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
    
    <p>Note that Cards, Cards, Cards has no access to or control over these cookies that are used by third-party advertisers.</p>
    
    <p>Third Pary Privacy Policies
    <p>Cards, Cards, Cards's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. You may find a complete list of these Privacy Policies and their links here: Privacy Policy Links.</p>
    
    <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites. What Are Cookies?</p>
    
    <p>Children's Information
    <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
    
    <p>Cards, Cards, Cards does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
    
    <p>Online Privacy Policy Only</p>
    <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Cards, Cards, Cards. This policy is not applicable to any information collected offline or via channels other than this website. Our GDPR Privacy Policy was generated from the Privacy Policy Generator.</p>
    
    <p>Consent</p>
    <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
    <input type="text"><button class="btn dropdown-item" style="width:25%;">Submit New</button>
    
    <h1>
      DMCA/Takedown policy
    </h1>
    <br>
    <hr>
    <h2>Contact Informaiton</h2>
    <p>Email: toshotoshev02@gmail.com</p>
    <br>
    <hr>
    <p>What Is the DMCA?
By the middle to late 1990s, peer-to-peer file-sharing and other new digital technologies had facilitated widespread illegal access to copyrighted material.

In response, industry organizations such as the Recording Industry Association of America (RIAA) lobbied for the creation of a formal process by which copyright holders could assert their rights over media posted to third-party websites and have copyrighted material removed promptly.

The DMCA is the result — a collaboration between legislators, media companies, and consumer advocates. DMCA is short for the Digital Millennium Copyright Act. It is a US law that was enacted by the US Congress in 1998 and signed by President Bill Clinton on October 28th of that year.

How Can Notices Be Filed?
The core tool of the DMCA is the DMCA takedown notice. When a copyright holder learns of a violation, a DMCA takedown notice is issued to the service that hosts the offending website or to the internet service provider (ISP) of the violator.

Infringing material can also be removed from search results by issuing a notice to a search engine.

A written notice must be sent to the organization's DMCA agent in writing, identifying the original copyrighted work and the material infringing on copyright. It must be signed by the copyright holder or their agent.

There is no official DMCA takedown notice form that copyright holders are required to use.

However, each complaint must adhere to certain specifications to be valid. In addition to providing contact information and identifying the suspected copyright infringement, the originator of the notice must state:

That the notice is filed in good faith

That all information in the notice is accurate

That under penalty of perjury, the originator is entitled to act on behalf of someone who owns an exclusive right — that is, a copyright — currently being violated.</p>
    
    <input type="text"><button class="btn dropdown-item" style="width:25%;">Submit New</button>
</div>